__pycache__/
.venv/*
*.pyc
*.nexus
*.aln
*.dnd
*NoPipe*
denethor/denethor_layer/*
lambda_functions/lambda_layer/*
lambda_functions/lambda_layer.zip
lambda_functions/src/tree_constructor.zip
lambda_functions/src/subtree_constructor.zip
lambda_functions/src/maf_database_creator.zip
lambda_functions/src/maf_database_aggregator.zip
denethor/src/database/conn.py
